
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] </title>
    @*<link rel="shortcut icon" href="../images/fav_icon.png" type="image/x-icon">*@
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.8.0/css/bulma.min.css" />
    <link href="~/css/cards.css" rel="stylesheet" />
    <link href="~/css/landing.css" rel="stylesheet" />


</head>

<body onload="Initialize()">
    <partial name="_CookieConsentPartial" />

    <header>


        <!-- START NAV -->
        <nav class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item" href="/index">
                        <img src="../images/xtenders.png" alt="Xtenders International Logo">
                    </a>
                    <span class="navbar-burger burger" data-target="navbarMenu">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </div>
                <div id="navbarMenu" class="navbar-menu">
                    <div class="navbar-end">
                        <a class="navbar-item is-active">
                            Home
                        </a>
                        <a class="navbar-item" href="/catalogue">
                            Catalogue
                        </a>
                        <a class="navbar-item">
                            Get A Quote
                        </a>
                        <a class="navbar-item">
                            About Us
                        </a>
                        <a class="navbar-item">
                            Contact Us
                        </a>
                    </div>
                </div>
            </div>
        </nav>
        <!-- END NAV -->









    </header>
    @RenderBody()



    <footer class="footer">
        <div class="container">
            <div class="content has-text-centered">
                <div class="soc">
                    <a href="#"><i class="fa fa-github-alt fa-2x" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-youtube fa-2x" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
                </div>

            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/bulma.js"></script>
   
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>